.container {
    display: grid;
    height: 100vh;
    overflow: hidden;
}
 body{
  overflow: hidden;
}
.round-moving-thingy{
    width: 80%;
    max-width: 10%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
.container-move{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}