.container {
    display: grid;
    height: 100vh;
    overflow: hidden;
}
p, a, h1{
    color: rgb(214, 210, 210);
    text-align: center;
    font-family: Arial;

}
a{
    color: lightblue;
}

body{
  overflow: hidden;
  background-color: black;
}
.round-moving-thingy{
    width: 80%;
    max-width: 10%;
    padding: 2px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    animation: move 13s linear infinite;

}
.round-moving-thingy:hover{
    animation-play-state: paused;
}

.container-move{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

@keyframes move {
    0% {
        transform: translateX(875%);
    }
    100% {
        transform: translateX(-875%);
    }
}

.title-main{
font-size: 100px;
}